<!-- 4 -->
{% extends "base.html" %}

<!-- 5 -->
{% load static %}


{% block content %}
<!-- 5 -->

<div class='container'>
    <!-- 5 -->

    {% if user.is_authenticated %}

        <!-- Error 404 Template 1 -  -->
        <section class="mx-auto vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2 class="d-flex justify-content-center align-items-center gap-2">
                                <span class="display-1 fw-bold">4</span>
                                <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                                <span class="display-1 fw-bold bsb-flip-h">4</span>
                            </h2>
                            <h3 class="h2 mb-2">Oops! Estas perdido</h3>
                            <p class="mb-5">No se ha encontrado la página que busca</p>
                            <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="{% url 'inicio' %}"
                                role="button">Volver a Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div>

    {% else %}

    <main class="flex-shrink-0">

        <!-- Header-->
        <header class=" py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <div class="badge bg-gradient-primary-to-secondary text-white mb-4">

                                <div class="">Contacto &middot; Bus &middot; Informacion</div>
                            </div>
                            <div class="fs-3 fw-light text-muted ">Te ayudamos a llegar donde sea en Zaragoza</div>
                            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline  ">SUPER RAPIDO y
                                    GRATIS</span></h1>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <img class="profile-img" src="{% static 'images/header-1.svg' %}" alt="imagen header" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </main>
</div>
{% comment %} ----------------------------------- SECCION 2 ------------------------ {% endcomment %}

<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class=" my-5">
        <div class="text-center container">

            <h2 class="display-4 fw-bolder mb-4">Para mi amor Axana <i class="bi bi-balloon-heart-fill"></i></h2>

            <p class="lead fw-light mb-4 text-white">Desde Paulino Salvador Ela. <br/> Software Developer</p>

            <br />

            <div class="d-flex justify-content-center fs-2 gap-4">
                <a class="text-white" href="mailto:jamelarry22@gmail.com?Subject=Paulino%20S%20Ela%20"><i
                        class="bi bi-envelope"></i></a>
                <a class="text-white " href="https://www.linkedin.com/in/lino-ela/"><i class="bi bi-linkedin"></i></a>
                <a class="text-white" href="https://github.com/LinoELa"><i class="bi bi-github"></i></a>
            </div>

            <!-- espacio-->

            <br />


            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" target="_blank"
                href=" https://wa.me/+34641237283?text=Hola%20desde%20Bus%20Conecta%20">Contactame</a>
        </div>
    </div>
</section>

{% comment %} ----------------------------------- SECCION 3 ------------------------ {% endcomment %}
<div class='container'>

    <main class="flex-shrink-0">

        <!-- Page Content-->
        <div class="container px-1 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Conocimientos del Software</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- Professional skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <div
                                            class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                            <i class="bi bi-tools"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Habilidades
                                                Profesionales</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Resolver
                                                Problemas</div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Trabajo
                                                en
                                                equipo</div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Comunicacion
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Critica
                                                Constructiva</div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Design
                                                Develop Deploy</div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ingles
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Languages list-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div
                                            class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                            <i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span
                                                class="text-gradient d-inline">Tecnologias</span>
                                        </h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DOCKER</div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PYTHON-
                                                DJANGO </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">POSTGRESQL</div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">WEB SCRAPING
                                            </div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GIT &
                                                GITHUB
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                BOOTSTRAP</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

</div>
{% comment %} ----------------------------------- SECCION 3 FOOOTER ------------------------ {% endcomment %}


<div class="bg-white">

    <div class="container">

        <footer>

            <div class="bg-white py-4 mt-auto">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto">
                            <div class="small m-0">Ela - Software Developer</div>
                        </div>
                        <div class="col-auto mt-3">
                            <a class="small text-body-secondary" href="https://github.com/LinoELa"><i
                                    class="bi bi-github"></i>
                            </a> <span class="mx-1">&middot;</span>

                            <a class="small text-body-secondary" href="https://www.linkedin.com/in/lino-ela/"><i
                                    class="bi bi-linkedin"></i></a>
                            <span class="mx-1">&middot;</span>

                            <a class="medium text-body-secondary"
                                href="mailto:jamelarry22@gmail.com?Subject=Paulino%20S%20Ela%20"><i
                                    class="bi bi-envelope"></i></a>
                            <span class="mx-1">&middot;</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class='d-flex flex-wrap py-4 justify-content-around border-top'>
                <p> <span class='fw-bold' style="color:black;"> &copy; 2024 Todos los derechos reservados </span></p>
                <p> <span class='fw-bold' style="color:black;">Diseñado & Desarrollado - Paulino Salvador E. </span>
                </p>
            </div>
        </footer>
    </div>
</div>
</main>

{% endif %}

{% endblock  %}